**/.gitignore
**/.vscode/**
**/.vscode-test/**
**/node_modules/**
**/target/**
**/*.log
**/*.tmp
**/.env
**/.env.*
**/*.pem
**/*.key
**/*.crt
**/*.pfx
**/*.p12
src/**
test/**
out/test/**
samples/**
tsconfig.json
CHANGELOG.md
README.md
package-lock.json
extension.ts
